/* General Styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(4, 28, 49, 0.807);
    background-size: cover;
    display: flex ;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center;
    overflow: hidden;
}
  
  /* Form Container */
  form {
    background-color: #af00fb00;
    padding-top: 0px;
    padding-left: 75px;
    border-radius: 10px;
    box-align: center;
    width: 350px;
    margin-top: -125px;
  }
  
  /* Form Titles */
  
  
  /* Form Labels */
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 255, 157);
  }
  
  /* Form Inputs */
  input[type="text"],
  input[type="username"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000; /* Blue border color */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Submit Button */
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 255, 157); /* Blue background color */
    border: none;
    border-radius: 5px;
    color: #000a0b;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
  }
  
  button:hover {
    background-color: rgba(0, 255, 157, 0.379);/* 
    color: rgb(0, 255, 157);/* Darker blue on hover */
  }
  
  /* Error Messages */
  .error {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
  }
  p {
    color: rgb(255, 252, 252); /* Change the color of the paragraph text */
    text-align: center;
  }
  
  p a {
    color: rgb(0, 255, 157); /* Change the color of the link text */
  padding: 0%;

}
.logo {
    width: 500px;
    height: auto;
    margin-bottom: 0px;
  }